<div class="Encabezado">
  <h1 class="uno">Mi Presentación</h1>
</div>
<div  class="Contenedor">
  <img src="../assets/1.jpg" alt="" height="150" width="150" flex="100" >

  <div class="Info">
    <h2 class="dos">Nombre: Adriana Monserrath Najera Gomez</h2>
    <h2>No.C: 19680209</h2>
    <h2>Carrera: ISC</h2>
    <h2>Edad: 21</h2>
    <h2>Semestre: 8</h2>
  </div>
</div>
<div class="redes">
  <a href="https://www.facebook.com/monse.najera.545"><img src="../assets/facebook.png" alt="facebook" height="80" width="80" ></a>

  <a href="https://www.instagram.com/adriana_najerag/?fbclid=IwAR2JXyghbvOJeW1fjbsn_CS60IZTEbdH4WNV0xAVUzWNg1WZuUILhuXdshc"><img src="../assets/instagram.png" alt="instagram" height="80" width="80"></a>

  <a href="https://www.tiktok.com/@adriananajera16?_t=8ZpwdtIzaxK&_r=1"><img src="../assets/tiktok.png" alt="tiktok" height="80" width="80"></a>

</div>

