.Encabezado{     
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: rgb(145, 152, 214);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.uno{
    color: white;
}

.Contenedor{ 
    
    margin-top: 20px;
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: rgb(214, 188, 219);
}

.Imagen{ 
    flex: 100px;
    width: 140px;
    height: 140px;
}

.Info{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 500px;
    width: 60%;
    height: 80px;
    text-align:justify;
}

.redes{
    margin-top: 20px;
    width: 100%;
    height: 85px;
    background-color: rgb(145, 152, 214);
    text-align: center;
}
